dify_workflows/chatbot học sinh V2.yml
app:
  description: ''
  icon: b958d3ae-4a75-4700-a0a5-8b92e35b7be8
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: chatbot học sinh V2
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.5.12@2a2bf8f78552bd52b1d2e51995daaa7b7c04b2572b29e661b14c1b773ab8d45a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Xin chào, tôi là trợ lí ảo trong khoá học Tin 12, tôi sẽ giúp
      bạn trả lời các câu hỏi liên quan đến chương trình học
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Khái niệm Trí tuệ nhân tạo
    - Các đặc trưng cơ bản của AI
    - Làm sao để phân biệt Router và Switch?
    - Phân biệt HTTP và HTTPS
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 73
      id: '1711528914102'
      position:
        x: 79.5
        y: 2634.5
      positionAbsolute:
        x: 79.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - RDUYsWT9rfLI7iO8l3XnPdetvk+t6ktMFgnNWqq7PeSlToQtO/vGoaa0gb7dkNDL
        desc: Allows you to query text content related to user questions from the
          Knowledge
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.3
          top_k: 7
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: text-embedding-004
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.5
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 150
      id: '1711528915811'
      position:
        x: 362.5
        y: 2634.5
      positionAbsolute:
        x: 362.5
        y: 2634.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4a931afb-3acb-49fd-9325-67fead6fbc98
          role: system
          text: "# VAI TRÒ (ROLE)\nBạn là Trợ lý AI Thông minh (AI Tutor) hỗ trợ môn\
            \ Tin học 12 theo định hướng giáo dục STEM.\nNhiệm vụ của bạn là giải\
            \ đáp thắc mắc, hỗ trợ ôn tập và hướng dẫn thực hành cho học sinh.\n\n\
            # DỮ LIỆU KIẾN THỨC (CONTEXT)\nDưới đây là thông tin được trích xuất từ\
            \ giáo trình và tài liệu khóa học:\n\"\"\"\n{{#context#}}\n\"\"\"\n\n\
            # QUY TẮC TRẢ LỜI (CRITICAL RULES)\n1. **Tuyệt đối trung thành với Context**:\
            \ Câu trả lời phải được xây dựng CHỈ dựa trên phần \"DỮ LIỆU KIẾN THỨC\"\
            \ được cung cấp ở trên. Không sử dụng kiến thức bên ngoài nếu không được\
            \ kiểm chứng trong tài liệu.\n2. **Xử lý khi thiếu thông tin**: \n   -\
            \ Nếu câu trả lời KHÔNG nằm trong Context, hãy trả lời thẳng thắn: \"\
            Xin lỗi, nội dung này hiện chưa có trong tài liệu môn học. Em vui lòng\
            \ hỏi trực tiếp giảng viên để được giải đáp chính xác nhất nhé!\"\n  \
            \ - Tuyệt đối không tự bịa đặt thông tin (No Hallucination).\n3. **Phong\
            \ cách sư phạm**:\n   - Trả lời ngắn gọn, súc tích, dễ hiểu.\n   - Sử\
            \ dụng định dạng Markdown (in đậm từ khóa, gạch đầu dòng) để trình bày\
            \ rõ ràng, đẹp mắt.\n   - Giọng điệu thân thiện, tích cực, khuyến khích\
            \ học sinh.\n\n# THỰC HIỆN NHIỆM VỤ\nDựa vào các quy tắc trên, hãy trả\
            \ lời câu hỏi sau của học sinh:\nCâu hỏi: {{#sys.query#}}\nCâu trả lời:"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: '1711528917469'
      position:
        x: 648.4875492592832
        y: 2634.5
      positionAbsolute:
        x: 648.4875492592832
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1711528919501'
      position:
        x: 928.5
        y: 2634.5
      positionAbsolute:
        x: 928.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 204.71594626465662
      y: -1936.0503285861923
      zoom: 0.8318938175619337
  rag_pipeline_variables: []
