dify_workflows/chatbot hỗ trợ giảng viên-2.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: chatbot hỗ trợ giảng viên
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.5.12@2a2bf8f78552bd52b1d2e51995daaa7b7c04b2572b29e661b14c1b773ab8d45a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Xin chào, tôi là trợ lý AI cho giảng viên trong khóa học, tôi
      có thể giúp bạn tóm tắt tình hình kiến thức của học sinh trong khóa học hiện
      tại và từ đó tạo bộ câu hỏi trắc nghiệm phù hợp với học sinh
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Tôi muốn tạo bộ câu hỏi trắc nghiệm
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1762988385452-source-1764076823822-target
      selected: false
      source: '1762988385452'
      sourceHandle: source
      target: '1764076823822'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1764076823822-ab2ca7f1-df0b-4c1b-a223-07995e678728-1764081625357-target
      selected: false
      source: '1764076823822'
      sourceHandle: ab2ca7f1-df0b-4c1b-a223-07995e678728
      target: '1764081625357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: parameter-extractor
      id: 1764076823822-false-1764161342486-target
      selected: false
      source: '1764076823822'
      sourceHandle: 'false'
      target: '1764161342486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1764161342486-source-1764161677022-target
      selected: false
      source: '1764161342486'
      sourceHandle: source
      target: '1764161677022'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1764161677022-false-1764081635357-target
      selected: false
      source: '1764161677022'
      sourceHandle: 'false'
      target: '1764081635357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1764161677022-true-17641618566470-target
      selected: false
      source: '1764161677022'
      sourceHandle: 'true'
      target: '17641618566470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 17641618566470-source-1764162337255-target
      source: '17641618566470'
      sourceHandle: source
      target: '1764162337255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1764162337255-source-1764162111941-target
      source: '1764162337255'
      sourceHandle: source
      target: '1764162111941'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables: []
      height: 73
      id: '1762988385452'
      position:
        x: -670.0643548310446
        y: 978.9275300516374
      positionAbsolute:
        x: -670.0643548310446
        y: 978.9275300516374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: ab2ca7f1-df0b-4c1b-a223-07995e678728
          conditions:
          - comparison_operator: contains
            id: e0c3e990-f96a-4817-bb48-1e33d481eeb2
            value: tạo bộ câu hỏi
            varType: string
            variable_selector:
            - sys
            - query
          id: ab2ca7f1-df0b-4c1b-a223-07995e678728
          logical_operator: and
        desc: 'có 3 nhánh: xem kiến thức của học sinh (query có chứa "Xem kiến thức"),
          tạo bộ câu hỏi, nhánh còn lại là failback'
        selected: false
        title: IF/ELSE
        type: if-else
      height: 200
      id: '1764076823822'
      position:
        x: -315.4378962208392
        y: 999.9275300516374
      positionAbsolute:
        x: -315.4378962208392
        y: 999.9275300516374
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Vui lòng cung cấp đầy đủ và chính xác các thông tin sau:

          1. Số lượng câu hỏi

          2. Độ khó (dễ, trung bình, khó)

          3. Chủ đề của bộ câu hỏi (Ví dụ: tin 12 - trí tuệ nhân tạo)

          '
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 164
      id: '1764081625357'
      position:
        x: 13.47339866561191
        y: 859.1475917065334
      positionAbsolute:
        x: 13.47339866561191
        y: 859.1475917065334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Xin lỗi, thông tin bạn cung cấp không chính xác. Vui lòng chọn '
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 116
      id: '1764081635357'
      position:
        x: 669.2231833259103
        y: 1310.7306549595037
      positionAbsolute:
        x: 669.2231833259103
        y: 1310.7306549595037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: LLM kiểm tra câu hỏi
        instruction: "Xem câu query của user có đầy đủ 3 thông tin sau hay chưa:\n\
          1. Số lượng câu hỏi\n2. Độ khó (dễ, trung bình, khó)\n3. Chủ đề của bộ câu\
          \ hỏi (Ví dụ: tin 12 - trí tuệ nhân tạo)\nNếu chưa đủ thì is_enough = false\
          \ \nNếu đủ rồi thì extract parameters tương ứng với:\n- topic: chủ đề của\
          \ bộ câu hỏi\n- num_questions: số lượng câu hỏi\n- difficulty: 1 trong 3\
          \ cái sau: easy/medium/hard\nvà trả về is_enough = true"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        parameters:
        - description: Tên topic của bộ câu hỏi
          name: topic
          required: false
          type: string
        - description: Số lượng câu hỏi
          name: num_questions
          required: false
          type: number
        - description: Độ khó (easy/medium/hard)
          name: difficulty
          required: false
          type: string
        - description: đã cung cấp đủ thông tin hay chưa
          name: is_enough
          required: true
          type: boolean
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        vision:
          enabled: false
      height: 116
      id: '1764161342486'
      position:
        x: 13.47339866561191
        y: 1153.0018742700065
      positionAbsolute:
        x: 13.47339866561191
        y: 1153.0018742700065
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: cac350ea-2735-4a2e-b63a-d0d7acc639fb
            value: true
            varType: boolean
            variable_selector:
            - '1764161342486'
            - is_enough
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 124
      id: '1764161677022'
      position:
        x: 321.9246611258537
        y: 1153.0018742700065
      positionAbsolute:
        x: 321.9246611258537
        y: 1153.0018742700065
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1819
            key: ''
            type: text
            value: '{

              "topic": "{{#1764161342486.topic#}}",

              "num_questions": {{#1764161342486.num_questions#}},

              "difficulty": "{{#1764161342486.difficulty#}}",

              "language": "vi",

              "save_to_db":true,

              "import_to_moodle": true,

              "course_id": 2

              }'
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request (1)
        type: http-request
        url: http://139.99.103.223:5003/api/ai/generate-and-import
        variables: []
      height: 137
      id: '17641618566470'
      position:
        x: 669.2231833259103
        y: 1004.5390850382048
      positionAbsolute:
        x: 669.2231833259103
        y: 1004.5390850382048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Tạo bộ câu hỏi với chủ đề {{#1764161342486.topic#}}, số câu hỏi {{#1764161342486.num_questions#}},
          độ khó {{#1764161342486.difficulty#}} thành công!

          Đường dẫn xem bộ câu hỏi: {{#1764162337255.view_url#}} '
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 192
      id: '1764162111941'
      position:
        x: 1388.927284040516
        y: 1004.5390850382048
      positionAbsolute:
        x: 1388.927284040516
        y: 1004.5390850382048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(body: str) -> dict:\n    import json\n\n    # Parse JSON string\
          \ -> Python dict\n    parsed = json.loads(body)\n\n    # Bạn có thể extract\
          \ field tùy ý, ví dụ:\n    message = parsed[\"message\"]\n    view_url =\
          \ parsed[\"view_questions_url\"]\n    first_question_name = parsed[\"questions\"\
          ][0][\"name\"]\n\n    # Trả về object mà Dify sẽ nhận được\n    return {\n\
          \        \"message\": message,\n        \"view_url\": view_url,\n      \
          \  \"first_question_name\": first_question_name,\n        \"raw\": parsed\
          \  # nếu muốn trả về toàn bộ luôn\n    }\n"
        code_language: python3
        outputs:
          first_question_name:
            children: null
            type: string
          message:
            children: null
            type: string
          raw:
            children: null
            type: object
          view_url:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '17641618566470'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1764162337255'
      position:
        x: 1015.5598410901155
        y: 1176.918534000692
      positionAbsolute:
        x: 1015.5598410901155
        y: 1176.918534000692
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 339.76077852486895
      y: -123.58526811043242
      zoom: 0.537200830736528
  rag_pipeline_variables: []
